{# src/InstantMovie/BackendBundle/Resources/views/Default/enlaces.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Enlaces de Peliculas {% endblock %}
{% block id 'Enlaces' %}

    {% block contenido %}


<script type="text/javascript">

</script>


<div id="enlaces" class="panel">
    <div class="blockNotas panel">
        
            <h2 class="enlacePanel"><a class="url" href="{{movies.url}}">Ver Pelicula</a></h2>

    </div>
    <div class="infoUrl panel"></div>
</div>

    {% endblock %}


