{# src/InstantMovie/BackendBundle/Resources/views/Default/enlaces.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Enlaces de Peliculas {% endblock %}
{% block id 'Enlaces' %}

    {% block contenido %}



            <h2  class="enlacePanel"><a class="url" href="{{movies.url}}">Ver Pelicula</a></h2>

    {% endblock %}


