{# src/InstantMovie/FrontendBundle/Resources/views/Default/login.html.twig #}

    <h2>¿Eres nuevo? Únete!</h2>
    <form action="{{ path('usuario_registro') }}" method="post">
    <input type="submit" value="Registrarse"/>
    </form>
