{# src/InstantMovie/BackendBundle/Resources/views/Default/mnormal.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Modo Normal {% endblock %}
{% block id 'mnormal' %}

    {% block contenido %}

<script type="text/javascript">
function mostrarInfoMovieClick(id){
    
     $.post("{{path('mnormal_ajax')}}",
    {
      movie_id:id
    })
    .done(function(data){
        $('#catalogoView').html(data);
    });
}


</script>

        <div id= "catalogoView" class="panel">
            <h1>Selecciona una Pelicula de la Lista</h1>
        </div>
        <div id= "catalogoLista" class="panel ">
            <h3>Lista de Peliculas</h3>

        {% for movie in movies %}
            <ul>
            <div id ="viewMovie" class="panel panel-info " onclick="mostrarInfoMovieClick('{{movie.id}}'); ">
                <div class="panel-heading">
                        <h4>{{movie.title}} </h4>
                </div>
                <div class="panel-body">
                    <img class="img" src="{{movie.image}}" width="100%" height="150px">
                </div>
            </div>
            </ul>
        {% endfor %}

        </div>
    {% endblock %}
