{# src/InstantMovie/BackendBundle/Resources/views/Default/portada.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} INSTANT MOVIE {% endblock %}
{% block id 'portada' %}

    {% block contenido %}
               <div id= "menuLateral" class="panel">
                    <h3>novedades</h3>
                </div>
            <div id= "trailer" class="panel">
                    <div id= "cajaTrailer" class="panel">
             
                    <iframe src="http://www.youtube.com/embed/M4sagNn4BNU" width="98%" height="98%" frameborder="0" allowfullscreen></iframe>
                    
                    </div>
                    <div id= "cajaSynapsis" class="panel">
                        <h3>Synapsis</h3>
                    </div>
                </div>
                <div id= "noticias" class="panel">
                    <h3>noticias</h3>
                </div>

{% endblock %}













