{# src/InstantMovie/BackendBundle/Resources/views/Default/random.html.twig #}
{% extends '::frontend.html.twig' %}

{% block title%} Dejate Llevar {% endblock %}
{% block id 'Random' %}

    {% block contenido %}


<script type="text/javascript">

</script>


<div id="enlaces" class="panel">
    <div class="blockNotas panel">
        
            <h2 class="enlacePanel"><a class="url" href="{{random}}">Ver Pelicula</a></h2>

    </div>
    <div class="infoUrl panel"></div>
</div>

    {% endblock %}


