{# src/InstantMovie/FrontendBundle/Resources/views/Default/registro.html.twig #}
{% extends '::frontend.html.twig' %}
{% block id 'usuario' %}
{% block title %}Regístrate gratis como usuario{% endblock %}

{% block contenido %}
<div id="registerSombra" class="panel">
<h1 style="color:#ccc; text-align:center;">{{ block('title') }}</h1>
    <form  class="panel" id="formRegister" action="{{ path('usuario_registro') }}" method="post">
        {{ form_widget(formulario) }}
    <input class="boton btn-Regist btn-lg" type="submit" value="Registrarme"/>
</div>
{% endblock %}

{% block aside %}{% endblock %}
