body{
    position:absolute;
    width:1500px;
    height:880px;
    left:8%;
    background: url("../images/bg.jpg") repeat top center #888888;
}

#loguer{
    position:absolute;
    width:1500px;
    height:880px;
    left:8%;
    background: url("../images/loguinBG1.jpg") repeat top center;

}

#contenedor {
    margin: 0 auto;
    width:1200px; 
    height:100%;
    
}

article{
    width:100%;
    height:100%;
}

.navbar-brand {
    color: #fefefe;
    font-size: 20px;
}

a img.headicon {
    display: block;
    float: left;
    width: 16px;
    height: auto;
    margin-right: 5px;
    margin-top: 3px;
    opacity: 0.6;
    transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

a:hover img.headicon {
    opacity: 0.9;
}

#cajaPrincipal{
    background-image: url("../images/loguinBG1.jpg");
    background-position: 46.7% 10.5%;
    background-repeat:no-repeat;
    position:relative;
    top:3%;
    width:70%;
    margin:0 auto;
}

#cajaLogins{
    background-color: #DDDDDD;
    text-align:center;
}

#registrar{
    background-color: #DDDDDD;
    text-align:center;
}

.btn-Regist{
    position:relative;
    background-color:#585858;
    width:95%;
    left: 2%;
    color: #222;

}

#legal{
    overflow:scroll;
    width:100%;
    height:400px;
    background-color:white;
}

#loguerHead{
    background-color:#222;
    color: #ccc;
    font-size: 20px;
}

/*Seccion Peliculas*/

#opcion1{
    background: url("../images/bg.jpg") no-repeat top center #888888;
    background-position: 10%;
    width:49%;
    height:52%;
    box-shadow: 15px 15px 6px #000000;
    margin:0 auto;
}

#opcion2{
    background: url("../images/bg.jpg") no-repeat top center #888888;
    background-position: 10%;
    width:49%;
    height:52%;
    box-shadow: 15px 6px 6px #000000;
    margin:0 auto;
}

.btn-peli{
    width:100%;
    height: 10%;
    text-align:center;
    background-color: #222;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:20px;
    color: #ccc;

}

.normal{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: #fefefe;
    text-align:center;
    background-color: #222;
    box-shadow: 15px 15px 6px #000000;
}

.aleatorio{
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: #fefefe;
    text-align:center;
    background-color: #222;
    box-shadow: 15px 15px 6px #000000;
}

.imagen{
    position:relative;
    background-color: black;
    top: 0.5%;
    height: 90%;
}

.txt{
    position:relative;
    background-color: #222;
    top:-1%;
    height: 8%;
    box-shadow: 15px 15px 6px #000000;
}

#random-txt, #normal-txt, #normal-img, #random-img {
    background-color:black;
}

#formRegister{
    position:relative;
    color:#222;
    background-color:#DDDDDD;
    width:96%;
    left:2%;
    
}

#registerSombra{
    background-color:#222;
    width:100%;
    box-shadow: 15px 15px 6px #000000;
}

/*Portada*/
#trailer{

    background-color: #222;
    border-radius: 0;
    float: left;
    width: 48%;
    height:38%;
    position:fixed;
    left:17%;
    top:10%;
    box-shadow: 15px 15px 6px #000000;
}

.icon {
    display: block;
    float: left;
}

.padding10 {
    display: block;
    padding: 10px;
    height:80%;
}

.icon img {
  display: block;
    float: left;
    height: 43px;
    margin-right: 15px;
    margin-top: 5px;
    width: 43px;
}

.box {
    display: block;
    width: 100%;
    background: #dddddd;
}

#noticias{
    float:left;
    background-color: #222;
    box-shadow: 2px 6px 6px #000000;
    width: 48%;
    height:42%;
    position:fixed;
    left:17%;
    top:50%;
    box-shadow: 15px 15px 6px #000000;
}

#descripcion{
    width:58%;
    float:right;
    height:90%;
    position:relative;
    left: -1%;
    top: -95%;
    background-color:#DDDDDD;
    text-align:center;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size:18px;
    overflow:auto;
}

#noticia{
    width:40%;
    height:90%;
    position:relative;
    background-color:#DDDDDD;
}

#noticias h3 {
    color: #ccc;
    margin: 0 0 10px 0;
    font-size: 26px;
    line-height: 26px;
}

.navbar-header {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 20px;
    color: #fefefe;
}

#cajaTrailer{
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    float: left;
    height: 120%;
    width: 70%;
    margin-bottom: 0;
    margin-right: 10px;
    position:relative;
    top:3%;
    left:1%;
}

#menuLateral{
    position:fixed;
    background-color: #222222;
    border-radius: 0;
    float: right;
    width: 18%;
    box-shadow: 15px 15px 6px #000000;
    margin-bottom: 0;
    height:82%;
    overflow:auto;
    top:10%;
    left:66%;
}

#menuLateral h3 {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 26px;
    line-height: 26px;
    color: #ccc;
    margin: 0 0 10px;
}

#cajaSynapsis{
    background-color: #DDDDDD;
    border-radius: 0;
    float: right;
    height:120%;
    margin-bottom: 0;
    width: 26%;
    position:relative;
    top:3%;
    left:-1%;
    color: #222;
}

#cajaSynapsis h3 {
    margin: 0;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    font-size: 26px;
    line-height: 26px;
}

#cajaSynapsis p {
    font-size: 12;
    color: #666;
}

#Comentarios{
    background-color: #ddd;
    border-radius: 0;
    overflow:auto;
    height:48%;
}

.comment{
    background-color:#DDDDDD;
    height:15%;
    overflow: hidden;
}

#Puntuaciones{
    background-color:#ddd;
    overflow:auto;
    border-radius: 0;
    height:67%;
}

/*reproductor*/
#reproductor{
    position:relative;
    left: 1%;
    top: 1%;
}

/* Historial*/
.div-historial{
position:relative;
    top: 0%;

}

.historialColor{
color:#ccc;
}

.historialButon{
    width:100%;
    background-color:#A9D0F5;
}

#historialNavbar{
    position:fixed;
    width:18%;
    top: 13%;
    left:15%;
    height:24%;
    color:#222;
    z-index:3;
}

.botonesHistorial{
    box-shadow: 15px 15px 6px #000000;
}

.div-historial{
    height:90%;
}

.historialTitulo{
    text-align:center;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    color:#ccc;
}

.btn-historial{
    background-color:#ccc;
    text-align:center;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    color:#222;
    position:relative;
    left:0%;
    top:10%;
    width:100%;

}


#cabeceraTitulo{
    position:relative;
    width:100%;
    background: url("../images/bg.jpg") no-repeat top center #888888;
    left:35%;

}

#historialPanel{
    position:relative;
    background-color:#DDDDDD;
    width:80%;
    border:5px solid #222;
    text-align:center;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    left:8%;
}

/* make sidebar nav vertical */ 
@media (min-width: 768px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}

/*Normal Mode*/

#catalogoView{
    float:left;
    position:fixed;
    width:50%;
    height:80%;
    background-color:#222;
    box-shadow: 15px 15px 6px #000000;
    text-align:center;
    color:#ccc;
}

#catalogoLista{
    
    float:right;
    position:relative;
    width:24%;
    height:99%;
    background-color:#222;
    left:10%;
    box-shadow: 15px 15px 6px #000000;
}

#imagenMovie{
    float:left;
    position:relative;
    width:39%;
    height:39%;
    left:1%;
    top: 1%;
    background-color:#DDDDDD;
}

#comentsMovie{
    float:left;
    position:relative;
    width:39%;
    height:57%;
    background-color:#585858;
    left: 1%;
    top: -1%;
    color:#222;
}

#infoMovie{
    float:right;
    position:relative;
    width:58%;
    height: 98%;
    background-color:#222;
    top: 1%;
    left:-1%;
}

#puntuacion{
    float:right;
    position:relative;
    width:10%;
    height:7%;
    background-color:#A4A4A4;
    top:-9.3%;
    left: -0.5%;
}

#verPelicula{
    background-color:#585858;
    color:#222;
}

/*View Movies Modo Normal*/

#viewMovie{
    position:relative;
    width: 20%;
    height: 20%;
    left: 85%;
    top:0.5%;
    background-color: #222;
    color:#222;
    border:2px #ccc solid;
    box-shadow: 15px 15px 6px #000000;
}

#reparto{
    position: relative;
    width: 100%;
    height: 23%;
    background-color:#DDDDDD;
    text-align:center;
    color:#222;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;

}

#synapsis{
    position: relative;
    width:100%;
    height: 75%;
    background-color: #DDDDDD;
    top: -2%;
    text-align:center;
    color:#222;

}

#panel-heading , #panel-body{
    text-align:center;
    background-color:#222;
    color:#ccc;
}

/*Comments page*/

#loadingDiv{
    position:fixed;
    z-index:3;
    width:100%;
    height:100%;
    background-color:black;
    margin: 0 auto;
    left: 0%;
    top:0%;
    opacity: 0.5;
    display:none;
}

#loading{
    position:relative;
    left:10%;
}

#botonScore {
    position:relative;
    background-color:#ccc;
    top:5%;
    color:#222;
    box-shadow: 15px 15px 6px #000000;
}

#hrefComment{
color:#222;
    background-color:#DDDDDD;
}

#textarea{
    top:2%;
    position:relative;
    width: 71%;
    height:16%;
    left:10%;
    background-color:#222;
    box-shadow: 15px 15px 6px #000000;
}

#comentario{
    position:relative;
    width: 96%;
    height: 92%;
    background-color: #DDDDDD;
    left:2%;
    top:3%;

}

#sobraComentario{
    position:relative;
    background-color: #222;
    width:72%;
    height:14%;
    left:10%;
    top:10%;
    margin-top: 3%;
    box-shadow: 15px 15px 6px #000000;
}

/*Estilos Mrandom*/

#random{
    position:relative;
    width: 100%;
    height: 49%;
    top: 0%;
    background-color:#222;
    box-shadow: 15px 15px 6px #000000;
}

#matizar{
    position:relative;
    width: 100%;
    height: 49%;
    background-color:#222;
    top: 0%;
    box-shadow: 15px 15px 6px #000000;
}

.imagenRandom{
    position:relative;
    left:22%;
    top:-105%;
    width:78%;
    height:100.5%;
    background-color:#222;
}

.infoModo{
    position:relative;
    background-color:#222;
    width:21.6%;
    height:100%;
    text-align:center;
}

#infoModo, #infoModoM{
    background-color:#222;
    border: 2px solid #ccc;
}

#imagenRandom, #imagenRandomN{
    background-color:#222;
}

#randomSombra{
    background-color:#DDDDDD;
    position:relative;
    width: 90%;
    height: 90%;
    top:3%;
    left:5%;
}

#enlaces{
    position:relative;
    background-color:#A9D0F5;
    width: 100%;
    height: 100%;
}

.blockNotas{
    float:right;
    position:relative;
    width: 75%;
    height: 96%;
    left:-1%;
    top:2%;
}

.infoUrl{
    float:left;
    position:relative;
    width:22%;
    height:96%;
    top:2%;
    left:1%;
}

.btn-matizar{
    position:relative;
    width: 90%;
    left:0%;
    background-color:#585858;
    top:7%;
    color:#ccc;
}

#btn-random{
    position:relative;
    width: 90%;
    left:0%;
    background-color:#585858;
    top:15%;
    color:#ccc;
}


#infoModoSombra{
    position:relative;
    background-color: #DDDDDD;
    width: 90%;
    left:5%;
    top:3%;
    height: 35%;
}



.matizarForm
{
    background-color: #DDDDDD;
    width:90%;
    height:50%;
    position:relative;
    left:5%;
    top: 5%;
}

.matizar{
    position:relative;
    top:15%;
}

.director {
    position:relative;
    top: 15%;
    left: -2.5%;
}

.gender{
    position:relative;
    top: 32%;
    left: -54.5%;
}

.actor{
    position:relative;
    top: 40%;
    left: -20%;
}


/*pagina de Enlaces*/

.enlacePanel{
    position:relative;
    background-color:#A9D0F5;
    width:70%;
    left:16%;
    top:35%;
    padding: 2%;
    border:2px solid;
    border-radius:25px;
}

.url{
    position:relative;
    left:35%;
}

/*Subir Peliculas*/

.panel-Upload{
    position:relative;
    width: 70%;
    left:15%;
    height: 100%;
}

#input-group{
    position:relative;
    margin-bottom:3%;
    background-color:#222;

}

#formUpload{
    position:relative;
    height: 100%;
    background: url("../images/bg.jpg") no-repeat top center #888888;
    color:#ccc;
    text-align:center;
    box-shadow: 15px 15px 6px #000000;
}



.form-control{
    position:relative;
    top: 3%;
}

.focusUpload{
    background-color:red;
}

.btn-Upload{
    position:relative;
    width:100%;
    background-color:#585858;
    color:#222;
    box-shadow: 15px 15px 6px #000000;
}

.h1{
    color:#222;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
}

#uplaodSelect{
    color:#222;
}

#actores{
    background-color:#DDDDDD;
    width:100%;
    height:20%;
    overflow:scroll;
    margin-bottom: 2%;
}

#directores{
    background-color:#DDDDDD;
    width:100%;
    height:20%;
    overflow:scroll;
    margin-bottom: 2%;
    margin-top:5%;
}


.btn-addActor{
    position:relative;
    float:right;
    width:11%;
    left:-0.1%;
    color:#222;
    top:-2%;
    background-color:#585858;
}

#introActor{
    position:relative;
    float:left;
    width:44%;
    top:-1%;
}

#introActorLn{
    position:relative;
    float:left;
    width:44%;
    top:-1%;
}

.btn-addDirector{
    position:relative;
    float:right;
    width:11%;
    left:-0.1%;
    top:-1%;
    background-color:#585858;
    color:#222;
}

#introDirector{
    position:relative;
    float:left;
    width:44%;
    top:0%;
}

#introDirectorLn{
    position:relative;
    float:left;
    width:44%;
    top:0%;
}

#actor{
    width:49.9%;
}

#lastName{
    width:49.9%;
}

#director{
    width:49.9%;
}

#directorln{
    width:49.9%;
}

#score{
    position:relative;
    margin-bottom:2%;
    margin-top:2%;
}

#comment{
    margin-bottom: 4%;
    top:8%;
    width:98%;
    left:1%;


}

/*Catalogo*/

#catalog{
    width:100%;
    height:100%;
    background-color:#A9D0F5;
}

#movies{
    width: 15%;
    height: 30%;
}

#viewMovie1{
    position:relative;
    float:left;
    width: 23%;
    height: 39%;
    left: 0%;
    top:0.5%;
    background-color: #222;
    border:2px #ccc solid;
    box-shadow: 15px 15px 6px #000000;
    margin-left:2%;
}

#panel-bodyC{
    width:80%;
    height:80%;
}

/*Perfil*/
#perfil{
    width:70%;
    height:60%;
    background-color:#222;
    left:20%;
    box-shadow: 15px 15px 6px #000000;
}

#perfilSombra{
    position:relative;
    left:1%;
    top:1%;
    width:98%;
    height: 98%;
    background-color:#DDDDDD;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
}

.btn-boton{
    background-color:#585858; 
    width:48%;
    position:relative;
    left: 0%;
    margin-left:1%;
    margin-top:3%;
    margin-bottom:3%;
    top:-2%;
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    color:#ccc;
}

#form-perfil{
    position:relative;
    top:0%;
    width:100%;
    height:100%;
}

.historialLink{
    font-family: 'Yanone Kaffeeslsatz', sans-serif;
    color:#ccc;
    background-color:#585858;
}
